@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  margin: 0;
  height: 100%;
}

html,
body {
  margin: 0;
  height: 100%;
}

.navbar {
  display: flex;
  gap: 10px;
  /* position: fixed; */
  left: 0;
  overflow: hidden;
  background-color: aquamarine;
  width: 100vw;
}

.navbar p {
  padding-left: 5px;
}

.section {
  background-color: blueviolet;
  max-height: 20vh;
  width: 100vw;
  margin: auto;
  padding: 20px;
}
