@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  margin: 0;
  height: 100%;
}

html,
body {
  margin: 0;
  height: 100%;
  scroll-behavior: smooth;
  background-color: var(--bg-color-light);
  color: var(--font-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* .dark {
  --bg-color-light: #1a212c;
  --detail-color: #bb86fc;
  --font-color: white;
  --bg-color: #0f1a31;
  --navbar-bg: #272e46;
} */

.section-projects {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

/* #skills {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  width: 100%;
} */

.icon {
  width: 50px;
  object-fit: contain;
}

.techs {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.perspective {
  perspective: 1000px;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}


.exp {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}